<layout name="layout"/>
<!--<p class="probanner"><img src="__PUBLIC__/wap/images/banner1.jpg" alt=""></p>-->
<!-- 主导航 -->
<style>
    a {
        color: #FFFFFF;
    }
</style>
<!-- 主页展示 -->
<div class="mainnav">
    <ul class="nav-list">
        <li><a href="/"><img src="{:C('IMG_URL')}/shouye.gif" alt=""></a></li>
        <li><a href="{:U('Wap/Wap/company')}"><img src="{:C('IMG_URL')}/guanyu.gif" alt=""></a></li>
        <li><a href="{:C('SITE_URL')}/xm/list"><img src="{:C('IMG_URL')}/xiangmu.gif" alt=""></a></li>
        <li><a href="{:U('Wap/Wap/case_list')}"><img src="{:C('IMG_URL')}/anli.gif" alt=""></a></li>
        <li><a href="{:C('SITE_URL')}/dc/list"><img src="{:C('IMG_URL')}/yisheng.gif" alt=""></a></li>
    </ul>
</div>
<!--项目列表 -->
<div class="project">
    <div class="pro-l">
        <ul class="projectul" style="background-color:#a6afb6;">
            <volist name='left_list' id='left_list'>
                <li class="current" style="margin-bottom:0px;"><a href="javascript:;" id="left_list_{$left_list['id']}" onclick="article_list({$left_list['id']})"><img src="{:C('SITE_URL')}/{$left_list.th_img_url|substr=2}" alt=""><span>{$left_list.class_name}</span></a>
                </li>
            </volist>
        </ul>
    </div>
    <div class="pro-r" style="display:block;" id="pro-r">
    </div>
    <input type="hidden" name="one_id" value="{$one_id}" id="one_id">
    <!-- 底部导航 -->
    <!-- 置顶 -->

    <script type="text/javascript" src="__PUBLIC__/wap/js/jquery-1.10.1.min.js"></script>

    <script>
        $(function () {
            var oneid = $('#one_id').val();
            article_list(oneid);
        });
        //ajax获取项目对应的栏目
        var articleinfo = new Array(); //ajax优化
        function article_list(listid) {
            var lid = listid;
            if (typeof articleinfo[lid] === 'undefined') {
                $.ajax({
                    url: "__CONTROLLER__/project_right",
                    data: {'id': lid},
                    success: function (data) {
                        var str = "<ul>";
                        $.each(data, function (index, value) {

                            str += "<li><a href='http://m.hyuzx.com/xm/" + value.abbob + "'>" + value.class_name + "</a></li>";
                        });
                        str += "</ul>";
                        $('#pro-r').html(str);

                        articleinfo[lid] = str;//缓存获取的信息
                    },
                });
            } else {
                $('#pro-r').html(articleinfo[lid]);
            }
        }

    </script>
