<layout name="special" />
    <!-- 医生团队 -->

    <div class="docimg">

        <div><img src="__PUBLIC__/Uploads/Special/face/images/banner.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor1_tit.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor1_con.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/face/images/floor1_ic.gif"/></a></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor2_tit.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor2_con.gif"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/face/images/floor2_ic.gif"/></a></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor3_tit.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor3_con_1.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor3_con_2.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/face/images/floor3_ic.gif"/></a></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor4_tit.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor4_con.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor5_tit.gif"/></div>

</div>

    <div class="banner">
            <div class="slider8">

        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor5_con_1.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor5_con_2.jpg"/></div>

            </div>
        </div>
 <div class="docimg">
         <div><img src="__PUBLIC__/Uploads/Special/face/images/floor6_tit.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/face/images/floor6_con.jpg"/></div>
    </div>

