<layout name="special" />
        <!-- 医生团队 -->

        <div class="docimg">
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/banner.jpg"/>
            </div>
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/floor1.jpg"/>
            </div>
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/1.gif"/>
            </div>
            <div >
                <a href="{:C('SHANG_WU')}">
                    <img src="__PUBLIC__/Uploads/Special/gem/images/2.gif"/>
                </a>
            </div>
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/floor3.gif"/>
            </div>
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/floor4.jpg"/>
            </div>
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/floor5.jpg"/>
            </div>
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/floor6.gif"/>
            </div>
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/floor7.jpg"/>
            </div>
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/floor8.jpg"/>
            </div>
            <div >
                <img src="__PUBLIC__/Uploads/Special/gem/images/floor9.gif"/>
            </div>
        </div>

