<layout name="special" />
<style type="text/css">
    #img_3{
    position: relative;
    }
    #img_2{
    position: absolute;
    bottom: 22%;
    }
</style>
    <!-- 专题页-->

    <div class="docimg">
    <div><img src="__PUBLIC__/Uploads/Special/jqsl/BANNER_01.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/jqsl/BANNER_02.jpg"/></a></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/P1-NAV.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/P1-t_01.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/jqsl/P1-t_02.jpg"/></a></div>


        <div><img src="__PUBLIC__/Uploads/Special/jqsl/P2-nav.jpg"/></div>
  <div><img src="__PUBLIC__/Uploads/Special/jqsl/p2-t-01.jpg"/></div>
  <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/jqsl/p2-t_02.jpg"/></a></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p2-t_03.jpg"/></div>
        <div style="margin-bottom:10px;"><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/jqsl/p2-t_04.jpg"/></a></div>

        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p3_nav.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p3_01.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/jqsl/p3_02.jpg"/></a></div>


        <div><img src="__PUBLIC__/Uploads/Special/jqsl/P4-NAV.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/P4-T_01.jpg"/></div>
        <div style="margin-bottom:15px;"><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/jqsl/P4-T_02.jpg"/></a></div>

        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p5_nav.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p5_t-01.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p5_t-02.jpg"/></div>

        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p6_nav.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p6_01.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/jqsl/p6_02.jpg"/></a></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p6_03.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/jqsl/p6_04.jpg"/></a></div>

        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p7_nav.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p7_01.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/jqsl/p7_02.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/jqsl/p7_03.jpg"/></a></div>

    </div>
