<layout name="special" />
<style type="text/css">
    #img_3{
    position: relative;
    }
    #img_2{
    position: absolute;
    bottom: 22%;
    }
</style>
    <!-- 医生团队 -->

    <div class="docimg">
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/banner01.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/banner02.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/banner03.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor1_tit.gif"/></div>

        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor1_con.jpg"/></div>

        <div id="img_3"><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor2_bg.jpg"/>

        <div id="img_2"><a href="{:C('SHANG_WU')}"><img  src="__PUBLIC__/Uploads/Special/Jtubes/images/guodongcun.png"/></a></div>
        </div>

        <div><img  src="__PUBLIC__/Uploads/Special/Jtubes/images/floor3_tit.gif"/></div>

<!--             <div class="banner">
<div class="slider8">
       <div ><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor3_11.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor3_12.gif"/></div>

</div>
        </div> -->
         <div style="padding: 0 5px 0 5px;">
         <img style="width:49%;float:left;" src="__PUBLIC__/Uploads/Special/Jtubes/images/floor3_11.gif"/>
         <img style="width:49%;float:right;" src="__PUBLIC__/Uploads/Special/Jtubes/images/floor3_12.gif"/>
         </div>

        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor3_2.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor3_3.gif"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/Jtubes/images/01.gif"/></a></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor4_tit.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor4_con.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/Jtubes/images/02.gif"/></a></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor5_tit.gif"/></div>
</div>


    <div class="banner">
            <div class="slider8">
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor5_con_1.jpg"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor5_con_2.jpg"/></div>

            </div>
        </div>

 <div class="docimg">
         <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor6_tit.gif"/></div>
        <div><img src="__PUBLIC__/Uploads/Special/Jtubes/images/floor6_con.jpg"/></div>
        <div><a href="{:C('SHANG_WU')}"><img src="__PUBLIC__/Uploads/Special/Jtubes/images/03.gif"/></a></div>
    </div>
