<layout name="special" />
    <!-- 医生团队 -->

    <div class="docimg">
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/banner_01.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/banner_02.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/banner_03.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/banner_04.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/banner_05.jpg"></div>

  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p1_01.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p1_02.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p1_03.jpg"></div>

  <div class="col-xs-12 "><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p2_01.jpg"></div>
  <div class="col-xs-12 " id="meiruikou" ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p2_02.gif"></div>

  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p2_03.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p2_04.jpg"></div>

  <div ><a href="http://pkt.zoosnet.net/LR/Chatpre.aspx?id=PKT67204838&cid=1469000068684805339274&lng=cn&sid=1469000068684805339274&p=http%3A//hyuzx.com/&rf1=&rf2=&e=%25u6765%25u81EA%25u9996%25u9875%25u7684%25u5BF9%25u8BDD&bid=&d=1469000257113"><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p2_05.jpg"></a></div>

  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p3_01.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p3_02.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p3_03.jpg"></div>


  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content--p4_01.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content--p4_02.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content--p4_03.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content--p4_04.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/conten--p5_1.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/conten--p5_2.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/conten--p5_3.jpg"></div>
  <div ><a href="http://pkt.zoosnet.net/LR/Chatpre.aspx?id=PKT67204838&cid=1469000068684805339274&lng=cn&sid=1469000068684805339274&p=http%3A//hyuzx.com/&rf1=&rf2=&e=%25u6765%25u81EA%25u9996%25u9875%25u7684%25u5BF9%25u8BDD&bid=&d=1469000257113"><img  src="__PUBLIC__/Uploads/Special/miracle/images/conten--p5_4.jpg"></a></div>

  <div   ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content--p6-alli-nav.png"></div>
</div>

    <div class="banner">
            <div class="slider8">
                    <div class="slide"><img src="__PUBLIC__/Uploads/Special/miracle/images/content--p6-alli-01.jpg"></div>
                    <div class="slide"><img src="__PUBLIC__/Uploads/Special/miracle/images/content--p6-allitu02.jpg"></div>
            </div>
        </div>
 <div class="docimg">
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p7_1.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p7_2.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p7_3.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p8_1.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p8_2.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p8_3.jpg"></div>

  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p9_1.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p9_2.jpg"></div>
  <div ><img  src="__PUBLIC__/Uploads/Special/miracle/images/content-p9_3.jpg"></div>
    </div>
