<layout name="special" />
    <!-- 医生团队 -->

    <div class="docimg">
            <div><img src="__PUBLIC__/Uploads/Special/zhongqiu/images/banner.jpg"/></div>
            <div><img src="__PUBLIC__/Uploads/Special/zhongqiu/images/01.jpg"/></div>
            <div ><img src="__PUBLIC__/Uploads/Special/zhongqiu/images/02.jpg"/></div>
            <div ><img src="__PUBLIC__/Uploads/Special/zhongqiu/images/03.jpg"/></div>
            <div ><img src="__PUBLIC__/Uploads/Special/zhongqiu/images/04.jpg"/></div>
            <div ><img src="__PUBLIC__/Uploads/Special/zhongqiu/images/05.jpg"/></div>
    </div>

